@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* rgb(var(--background-start-rgb)); */
}

.menubar {
  display: none;
}
.navbar-mobile {
  display: none;
}
.mediacontain {
  padding: 2rem;
}

@media (max-width: 1080px) {
  .mediascreens {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imagescreen {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 0;
  }
  .textscreen {
    width: 90%;
  }
  .namescreen {
    width: 30%;
  }
  .names {
    font-size: 48px;
    font-weight: 500;
  }
  .mediacontain {
    padding: 2rem;
  }
}
@media (max-width: 880px) {
  .mediascreens {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imagescreen {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
  .buttonwell {
    display: none;
  }
  .menubar {
    display: inline;
  }
  .namescreen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .navbar-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background: #2c5364;
    position: fixed;
    padding: 1rem;
  }
  .mediacontain {
    padding: 1rem;
  }
}

.transparentglass {
  border-radius: 15px;
  background: rgba(95, 80, 80, 0.312);
  padding: 2rem;
}
.cardtrans {
  box-shadow: 2px 2px rgba(116, 75, 75, 0.446),
    -0.2em 0 0.4em rgba(80, 130, 135, 0.448);
}
.scrollpath {
  overflow: scroll;
}
