@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (max-width: 1080px) {
  .mediascreens {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imagescreen {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 0;
  }
  .textscreen {
    width: 90%;
  }
  .namescreen {
    width: 30%;
  }
  .names {
    font-size: 48px;
    font-weight: 500;
  }
  .mediacontain {
    padding: 2rem;
  }
}
@media (max-width: 880px) {
  .mediascreens {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imagescreen {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
}
